{erl_opts, [debug_info]}.

{deps, []}.

{plugins, [steamroller]}.

{
  profiles,
  [
    {
      docs,
      [
        {deps, [{edown, "0.8.1"}]},
        {
          edoc_opts,
          [
            {doclet, edown_doclet},
            {packages, false},
            {subpackages, true},
            {top_level_readme, {"./README.md", "http://github.com/redclawtech/mqtt-erlang-client"}}
          ]
        }
      ]
    }
  ]
}.

{cover_enabled, true}.

{eunit_opts, [verbose]}.

{xref_checks, [undefined_function_calls]}.

{
  dialyzer,
  [
    {warnings, []},
    {plt_apps, top_level_deps},
    {plt_extra_apps, []},
    {plt_location, local},
    {plt_prefix, "mqtt_client"},
    {base_plt_location, "."},
    {base_plt_prefix, "mqtt_client"}
  ]
}.
